---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
<ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %} 
    	<li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category }}-ref">
    		{{ category | join: "/" }} <span>{{ site.categories[category].size }}</span>
    	</a></li>
    {% endfor %}
  {% else %}
    {% for category in categories_list %} 
    	<li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category[0] }}-ref">
    		{{ category[0] | join: "/" }} <span>{{ category[1].size }}</span>
    	</a></li>
    {% endfor %}
  {% endif %}
  {% assign categories_list = nil %}
</ul>


{% for category in site.categories %} 
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if group == null or group == node.group %}
      	  {% if page.url == node.url %}
      	  <li class="active"><a href="{{ site.BASE_PATH }}/{{node.url}}" class="active">{{node.title}}</a></li>
      	  {% else %}
      	  <li><a href="{{ site.BASE_PATH }}/{{node.url}}">{{node.title}}</a></li>
      	  {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
  </ul>
{% endfor %}

