---
layout: page
title: Should we allow monopolies over research and education?
description: Probably not, we think.
permalink: /market-consolidation
report_download: https://testurl.org
---
<ul>
  <!-- Gets post for this tag -->
  {% for post in site.tags.market-consolidation %}
    {% if post.url %}
    <h2>
      <!-- Sets the title for the post, and gives it the correct link depending on if the post is on this site or links off -->
      <a href="{% if post.link %}{{ post.link }}{% else %}{{ site.BASE_PATH }}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.link %}{% endif %}
    </h2>
    <div>
      <!-- Does best attempt at getting a good excerpt -->
      {% if post.fullview %}
      {{ post.content }}
      {% else %}
      {% if post.shortinfo %}
      {{ post.shortinfo }}
      {% elsif post.description %}
      {{ post.description }}
      {% else %}
      {{ post.excerpt }}
      {% endif %}
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
</ul>
