---
layout: page
title: Strategic Choices
description: Actions in this category require a thorough debate of issues that do not have easy answers. Individual Institutions will legitimately have very different responses to these choices according to their values and missions, and will need to engage a wide variety of stakeholders
permalink: /strategic-choices
---
<!-- set the below to whatever you want and it'll generate a list -->
{% for post in site.tags.strategic-choices %}
{% include thread-contents.html %}
{% endfor %}
