---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---

<ul class="inline">
  {% assign tags_list = site.tags %}  
  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
    	<li><a href="#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
    	<li><a href="#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
  
  {% assign tags_list = nil %}
</ul>


{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if group == null or group == node.group %}
      	  {% if page.url == node.url %}
      	  <li class="active"><a href="{{ site.BASE_PATH }}/{{node.url}}" class="active">{{node.title}}</a></li>
      	  {% else %}
      	  <li><a href="{{ site.BASE_PATH }}/{{node.url}}">{{node.title}}</a></li>
      	  {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
  </ul>
{% endfor %}
