<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.BASE_PATH }}/assets/media/favicon.ico">
	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le styles -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">

	<!--
		GET FONTS AND GET THEM FAST.
		FROM: https://csswizardry.com/2020/05/the-fastest-google-fonts/

	  - 1. Preemptively warm up the fonts’ origin.
	  -
	  - 2. Initiate a high-priority, asynchronous fetch for the CSS file. Works in
	  -    most modern browsers.
	  -
	  - 3. Initiate a low-priority, asynchronous fetch that gets applied to the page
	  -    only after it’s arrived. Works in all browsers with JavaScript enabled.
	  -
	  - 4. In the unlikely event that a visitor has intentionally disabled
	  -    JavaScript, fall back to the original method. The good news is that,
	  -    although this is a render-blocking request, it can still make use of the
	  -    preconnect which makes it marginally faster than the default.
	  -->

	<!-- [1] -->
	<link rel="preconnect"
	      href="https://fonts.gstatic.com"
	      crossorigin />

	<!-- [2] -->
	<link rel="preload"
	      as="style"
	      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />

	<!-- [3] -->
	<link rel="stylesheet"
	      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
	      media="print" onload="this.media='all'" />

	<!-- [4] -->
	<noscript>
	  <link rel="stylesheet"
	        href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
	</noscript>

<!--  Essential META Tags from https://css-tricks.com/essential-meta-tags-social-media/ and sparc site-->

<meta property="og:image" content="{{ site.BASE_PATH }}/assets/media/social-image.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="627" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@sparc_na">

<!--  Non-Essential, But Recommended from https://css-tricks.com/essential-meta-tags-social-media/ and sparc site-->

<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{site.title}}">
<meta name="twitter:image:alt" content="SPARC Logo">
<meta property="og:type" content="website" />

</head>

<body>
	<div class="container">
		<div class="row">

			<!-- sidebar.html STARTS -->
			<div class="col-sm-4 sidebar hidden-xs" {% if site.sidebar_background_image %}style="background: url({{site.sidebar_background_image}}) no-repeat !important;"{% endif %} id="sidebar">
				{% include sidebar.html %}
			</div>
<!-- sidebar.html end -->

<!-- PAGE CONTENT STARTS -->
			<div class="col-sm-8 offset-sm-5"> <!-- offset stops overlap with sidebar. This doesn't add up, but it does work -->
				{{ content }}
			</div>
<!-- PAGE CONTENT ENDS -->
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
	<script>
	anchors.options = {
	      placement: 'left',
	      visible: 'touch',
	     };
	    anchors.add('.article_body h1, .article_body h2, .article_body h3, .article_body h4, .article_body p');
	</script>
</body>

<!-- Javascript (plain) to stick sidebar to the bottom on desktop -->
<script>
	if (window.innerWidth > 790) {
		var body = document.body;
  	var html = document.documentElement;
		var height = Math.max( window.innerHeight, body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight );
		document.getElementById("sidebar").style.height = height+'px';
	}
</script>

</html>
