<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/assets/media/sparc_logo.png" style="width:100%"/>
	</a>
	<h3 class="title">
        {{ page.title }}
    </h3>
</header>

{% if page.description %}
<div id="sidebar-description" class="text-center">
	{{ page.description }}
</div>
{% endif %}

{% if page.report_download %}
<div id="sidebar-description" class="text-center">
	<button href="{{ page.action }}">Download Full Report</button>
</div>
{% endif %}
