<header class="sidebar-header" role="banner">
	<!--
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/assets/media/sparc_logo.png" style="width:100%"/>
	</a>
	-->
	<h3 class="title">
        {{ page.title }}
    </h3>
</header>

<!-- show reading time only on posts. only posts have dates, so checking for dates first makes sure this shows only in the right place -->
{% if page.date.size > 0 %}
<div id="sidebar-description">
{% include read_time.html %}
</div>
{% endif %}

{% if page.description %}
<div id="sidebar-description">
	{{ page.description }}
</div>
{% endif %}

<!-- This can be set on a per page basis using report_download in the yaml -->
{% if page.report_download %}
<div id="sidebar-description">
	<a href="{{ page.report_download }}" class="btn">Download Full Report</a>
</div>
{% endif %}

<!-- This can be set on a per page basis using action.link and action.title in the yaml -->
{% if page.action_link.size > 0 %}
<div id="sidebar-description">
	<a href="{{ page.action_link }}" class="btn">{{page.action_title}}</a>
</div>
{% endif %}

<div id="sidebar-description">

	<p>
		<a href="{{ site.BASE_PATH }}">Home</a>
	</p>
	<p>
		<a href="{{ site.BASE_PATH }}/authors">About the authors</a>
	</p>
	<p>
		<a href="https://sparcopen.org/" target="_blank">More from <img src="{{ site.BASE_PATH }}/assets/media/sparc_logo.png" alt="SPARC Logo" style="height: .8em;" ></a>
	</p>

</div>
