<header class="sidebar-header" role="banner">
	<!--
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/assets/media/sparc_logo.png" style="width:100%"/>
	</a>
	-->
	<h3 class="title">
        {{ page.title }}
    </h3>
</header>

{% if page.description %}
<div id="sidebar-description">
	{{ page.description }}
</div>
{% endif %}

{% if page.report_download %}
<div id="sidebar-description">
	<a href="{{ page.report_download }}" class="btn">Download Full Report</a>
</div>
{% endif %}

{% if page.action.link %}
<div id="sidebar-description">
	<a href="{{ page.action.link }}" class="btn">{{page.action.title}}</a>
</div>
{% endif %}

<div id="sidebar-description">

<p>
	<a href="{{ site.BASE_PATH }}">Home</a>
</p>
<p>
	<a href="">Take Action</a>
</p>
<p>
	<a href="{{ site.BASE_PATH }}/authors">About the authors</a>
</p>
<p>
	More from <a href="https://sparcopen.org/" target="_blank"><img src="{{ site.BASE_PATH }}/assets/media/sparc_logo.png" alt="SPARC Logo" style="height: .8em;" ></a>
</p>

</div>
