<ul style="padding-top:10%">
  {% if post.url %}
  <h2>
    <a href="{% if post.link %}{{ post.link }}{% else %}{{ site.BASE_PATH }}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.link %}{% endif %}
  </h2>
  <p><i>
     <span class="reading-time" title="Estimated read time">
      {% assign words = post.content | number_of_words %}
      {% if post.reading-time.size > 1 %}
         {{ post.reading-time }}
        {% else %}
          {% if words < 360 %}
           1 min reading time
          {% else %}
           {{ words | divided_by:180 }} min reading time
          {% endif %}
      {% endif %}
      </span>
  </i></p>
  <p><i>
    Posted on <span>
         {% assign d = post.date | date: "%d" | plus:'0' %}
         {{ post.date | date: "%B" }}
         {% case d %}
           {% when 1 or 21 or 31 %}{{ d }}st,
           {% when 2 or 22 %}{{ d }}nd,
           {% when 3 or 23 %}{{ d }}rd,
           {% else %}{{ d }}th,
         {% endcase %}
         {{ post.date | date: "%Y" }}
       </span>
    {% if post.categories.size > 0 %}
        <span>
          from <a href="{{ site.BASE_PATH }}/{{ post.category }}" style="text-transform:capitalize;">{{ post.category  | replace: '-',' ' }}</a>
        </span>
    {% endif %}
  </i></p>

  <div>
    {% if post.fullview %}
    {{ post.content }}
    {% else %}
    {% if post.shortinfo %}
    {{ post.shortinfo }}
    {% elsif post.description %}
    {{ post.description }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}
    {% endif %}
  </div>
  {% endif %}
</ul>
