body {
	color: #414748;
}

/* Sets site width */

.container {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/* Handles styles for lists of posts */

a {
 color: #D92C35;
}

.btn {
	background-color: #D92C35;
	color: #fff;
}

/* Handles styles for the sidebar */

.sidebar {
	padding-top: 1%;
	background-color: #414748;
	color: #fff;
	position: fixed; /* this makes sure the sidebar follows you down the page so you also have the menu & context on desktop */
}

.sidebar-header {
	text-align: left;
	margin-bottom: 10px;
	margin-left: 10%;
}
.sidebar-header .title {
/*	letter-spacing: 3px; */
	text-transform: uppercase;
}

.sidebar-header .title a {
	text-decoration: none;
	color: #fff;
}

#sidebar-description {
	font-family: "Roboto", monospace;
	text-align: left;
	font-size: 15px;
	margin: 10%;
	margin-bottom: 10px;
}

/* Handles styles for lists of posts */

article {
	margin-bottom: 40px;
}

.article_body {
	margin-top: 20px;
	margin-bottom: 20px;
}

article {
	padding: 0 5% 0;
}

article img {
	width: 100%;
}

/* Handles styling for deep links */

.anchorjs-link {
  transition: all .25s linear;
	color: #D92C35;
}
*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
	transition: color .25s linear;
}

/* Handle page naviation */

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
