@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

body{
	color: #2c3e50;
}

.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 10%;
}
.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #2c3e50;
}

#bio {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

article{
	margin-bottom: 40px;
}

article a { color: #2c3e50; }
article a:hover { color: #2c3e50; text-decoration: none; }

.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

h1,h2,h3,h4,h5,h6{ font-family: 'Ubuntu', sans-serif; color: #f2756a; }
h1 a,h2 a,h3 a,h4 a{ color: #f2756a; }
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover{ color: #e74c3c; }

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}
